body {
    margin: 0;
    padding: 0;
    background:rgba(8,8,44,.7);
}

.game-box {
    width: 1700px;
    height:800px;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    position: absolute;
    z-index: 1;
    background:rgba(8,8,44,0.85);
    box-shadow: 0 0 0px 20px red;
}

.snake {
    width: 20px;
    height: 20px;
    background: olivedrab;
    position: absolute;
    left: 600px;
    top: 500px;
    transition: all .1s linear;
    z-index: 10;
    box-sizing:border-box;
    border:1px solid yellow;
    // }

    &__head {
        z-index: 20;

        &>div {
            position:absolute;
        }
    }

    &__eyes {
        font-size: 25px;
        color:red;
        transform: rotate(271deg) translateX(0px) translateY(2px);
    }

    &__tong {
        font-size: 11px;
        color:red;
        transform:translateX(7px) translateY(-10px);
        font-weight: 900;
    }

}

.new-victim {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1fffe7;
    box-sizing: border-box;
    border: 5px solid #1f55fb;
    z-index:1;
}